<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="kopfzeile"><div id="kopfzeile-links">Leonard Lesinski</div><div id="kopfzeile-mitte">Tel.: +49 176 20697205</div><div id="kopfzeile-rechts">leo@le0x8.de</div></div>
    <div id="überschrift">Lebenslauf</div>
    <div id="persönliche-daten-überschrift" class="überschrift">Persönliche Daten</div>
    <hr>
    <div id="persönliche-daten">
        <img id="foto" src="../../assets/olaf.jpg"><!-- hab auf die schnelle kein besseres gefunden -->
        Leonard Lesinski<br>
        Im Bremmen 14, 58300 Wetter (Ruhr)
        <table>
            <tr>
                <td>Telefon</td>
                <td>+49 176 20697205</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td><a href="mailto:leo@le0x8.de">leo@le0x8.de</a></td>
            </tr>
            <tr>
                <td>Geburtsdatum, -ort</td>
                <td>28.05.2008 in Witten</td>
            </tr>
        </table>
    </div>
    <div id="bildungsweg-überschrift" class="überschrift">Bildungsweg</div>
    <hr>
    <div id="bildungsweg">
        <table>
            <tr>
                <td>07/2025</td>
                <td>Abitur am Geschwister-Scholl-Gymnasium Wetter (Ruhr) [voraussichtlich]</td>
            </tr>
            <tr>
                <td>08/2017-07/2025</td>
                <td>Geschwister-Scholl-Gymnasium Wetter (Ruhr)</td>
            </tr>
            <tr>
                <td>08/2014-07/2017</td>
                <td>Grundschule Osterfeldschule in Wetter (Ruhr)</td>
            </tr>
        </table>
    </div>
    <div id="kenntnisse-und-fähigkeiten-überschrift" class="überschrift">Kenntnisse und Fähigkeiten</div>
    <hr>
    <div id="kenntnisse-und-fähigkeiten">
        Sprachkenntnisse
        <ul>
            <li>Deutsch (Muttersprache)</li>
            <li>Englisch (gute Kenntnisse)</li>
            <li>Französisch (Grundkenntnisse)</li>
        </ul>
        Computerkenntnisse
        <ul>
            <li>Microsoft Office (Word, PowerPoint: gute Kenntnisse; Excel: Grundkenntnisse)</li>
            <li>GIMP (gute Kenntnisse)</li>
            <li>HTML (gute Kenntnisse)</li>
            <li>JavaScript (gute Kenntnisse)</li>
            <li>CSS gute (Kenntnisse)</li>
            <li>Python (gute Kenntnisse)</li>
        </ul>
        Sonstiges
        <ul>
            <li>DELF A1-Diplom (Französisch)</li>
            <li>DELF A2-Diplom (Französisch)</li>
        </ul>
    </div>
    <div id="hobbys-und-interessen-überschrift" class="überschrift">Hobbys und Interessen</div>
    <hr>
    <div id="hobbys-und-interessen">
        Schwimmen, Klettern, Programmieren, Bildbearbeitung
    </div><br><br>
    Wetter (Ruhr), 25. Apr. 2022
    <br><br>
    <img src="../../assets/unterschrift.png" id="unterschrift"><br>
    <span class="überstrichen">Leonard Lesinski</span>
</body>
</html>