<div id="document">

<header>
    <div id="ueberschrift">Lebenslauf</div>
    <div id="kopfzeile">
        <img id="foto" src="{{foto}}"><div id="name">{{name}}</div><div id="kontakt">{{telefon}}<span id="mail">{{email}}</span></div>
    </div>
</header>


<div id="content">
    <div id="left">
        {{name}}<br>
    {{adresse.strasse}} {{adresse.hausnummer}}, {{adresse.postleitzahl}} {{adresse.stadt}}
    </div><div id="middle">.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.</div>
    <div id="right">rechts</div>
</div>

<!--
<div id="persoenliche-daten-ueberschrift" class="ueberschrift">Persönliche Daten</div>
<div id="persoenliche-daten">
    
    
    <table>
        <tr>
            <td>Telefon</td>
            <td>{{telefon}}</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td><a href="mailto:{{email}}">{{email}}</a></td>
        </tr>
        <tr>
            <td>Geburtsdatum, -ort</td>
            <td>{{geburt.tag}}.{{geburt.monat}}.{{geburt.jahr}} in {{geburt.stadt}}</td>
        </tr>
    </table>
</div>
<div id="bildungsweg-ueberschrift" class="ueberschrift">Bildungsweg</div>
<div id="bildungsweg">
    <table>
        <tr *ngFor="let item of bildungsweg">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
        </tr>
    </table>  
</div>
<div id="erfahrung-ueberschrift" class="ueberschrift" *ngIf="erfahrung.length > 0">Erfahrung</div>
<hr *ngIf="erfahrung.length > 0">
<div id="erfahrung" *ngIf="erfahrung.length > 0">
    <table>
        <tr *ngFor="let item of erfahrung">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
        </tr>
    </table>
</div>
<div id="kenntnisse-und-faehigkeiten">
    <div id="kenntnisse-und-faehigkeiten-ueberschrift" class="ueberschrift">Kenntnisse und Fähigkeiten</div>
    Sprachkenntnisse
    <ul>
        <li *ngFor="let item of sprachkenntnisse">{{item[0]}} (<span *ngIf="item[1] == 0">Muttersprache</span><span *ngIf="item[1] == 1">sehr gute Kenntnisse</span><span *ngIf="item[1] == 2">gute Kenntnisse</span><span *ngIf="item[1] == 3">Grundkenntnisse</span>)</li>
    </ul>
    Computerkenntnisse
    <ul>
        <li *ngFor="let item of computerkenntnisse">{{item[0]}} (<span *ngIf="item[1] == 1">sehr gute Kenntnisse</span><span *ngIf="item[1] == 2">gute Kenntnisse</span><span *ngIf="item[1] == 3">Grundkenntnisse</span>)</li>
    </ul>
    <span *ngIf="sonstiges.length > 0">Sonstiges</span>
    <ul *ngIf="sonstiges.length > 0">
        <li *ngFor="let item of sonstiges">{{item}}</li>
    </ul>
</div>
<div id="hobbys-und-interessen">
    <div id="hobbys-und-interessen-ueberschrift" class="ueberschrift">Hobbys und Interessen</div>
    
    {{hobbys}}
</div><br><br>
{{adresse.stadt}}, {{datum | date: 'dd.MM.yyyy'}}
<br><br>
<img src="{{unterschrift}}" id="unterschrift"><br>
<span class="ueberstrichen">{{name}}</span>-->
</div>